﻿<div ng-app="detetive">
    <ng-view></ng-view>
</div>

@section scripts
{
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/AngularApp/js/detetive.js"></script>
    <script src="~/AngularApp/js/detetiveService.js"></script>
    <script src="~/AngularApp/js/iniciaController.js"></script>
    <script src="~/AngularApp/js/jogaController.js"></script>    
}
