﻿<div ng-controller="jogaController">
    <form ng-show="isEditavel()">
        <fieldset>
             <div>
                <select name="arma" ng-options="ar.Id as ar.Nome for ar in armas" ng-model="arma">
                    <option value="">Selecione a Arma</option>
                </select>
                <select name="arma" ng-options="loc.Id as loc.Nome for loc in locais" ng-model="local">
                    <option value="">Selecione o Local</option>
                </select>
                <select name="arma" ng-options="sus.Id as sus.Nome for sus in suspeitos" ng-model="suspeito">
                    <option value="">Selecione o Suspeito</option>
                </select>
            </div>
            <h1>{{returnmessage}}</h1>
            <button class="btn btn-primary" ng-hide="acertou == true"  ng-click="verificar()">Verificar</button>
            <button class="btn btn-primary" ng-show="acertou == true" ng-click="reinicar(); arma='0'; local='0';suspeito='0'; criar()">Iniciar Novo jogo</button>
        </fieldset>
    </form>
</div>